In [1]:
!pip install pandas # 데이터 분석

Requirement already satisfied: pandas in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
!pip install xlrd # 엑셀 읽기

Requirement already satisfied: xlrd in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (1.2.0)

In [3]:
!pip install xlsxwriter # 엑셀 쓰기

Requirement already satisfied: xlsxwriter in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (1.2.0)

In [4]:
!pip install matplotlib # 차트, 그래프

Requirement already satisfied: matplotlib in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (3.1.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.11 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.17.2)
Requirement already satisfied: six>=1.5 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (40.8.0)

In [8]:
import pandas as pd
df = pd.read_excel('excel/학생시험성적.xlsx')
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [9]:
df = pd.read_excel('excel/학생시험성적.xlsx', sheet_name = 0, index_col = 4)
df

          학생  국어  영어  수학
평균
85.000000  A  80  90  85
93.333333  B  90  95  95
80.000000  C  95  70  75
78.333333  D  70  85  80
83.333333  E  75  90  85

In [10]:
import pandas as pd

excel_exam_data1 = {'학생': ['일동이', '이동이', '삼동이', '사동이', '오동이'],
                 '컴퓨터': [80, 90, 70, 85, 95],
                    '요리': [85, 75, 90, 100, 60],
                    '외국어': [40, 100, 85, 95, 70]}

In [11]:
df1 = pd.DataFrame(excel_exam_data1, columns=['학생', '컴퓨터','요리','외국어'])
df1

    학생  컴퓨터   요리  외국어
0  일동이   80   85   40
1  이동이   90   75  100
2  삼동이   70   90   85
3  사동이   85  100   95
4  오동이   95   60   70

In [12]:
excel_writer = pd.ExcelWriter('C:/Users/dazzul/Documents/GitHub/python_basic/20190922/excel/학생시험성적2.xlsx', engine='xlsxwriter')
# C:\Users\dazzul\Documents\GitHub\python_basic\20190922\excel
df1.to_excel(excel_writer, index=False)
excel_writer.save()

- index=True 옵션을 사용하면 엑셀파일에 인덱스 번호가 자동으로 삽입되며,

- index=False 옵션을 사용하면 엑셀파일에 인덱스 번호를 생략하고 데이터만 작성한다.

In [ ]:
excel_writer2 = pd.ExcelWriter('C:/Users/dazzul/Documents/GitHub/python_basic/20190922/excel/학생시험성적3.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer2, index=False, sheet_name='방과후수업')
excel_writer2.save()