### - 사용자>jupyter>config 파일이 없음
~~~
cmd> jupyter notebook --generate-config
~~~
C:\Users\dazzul\.jupyter 경로에 jupyter_notebook_config.py이 생긴다.  


1. 브라우저 자동 실행하는것 끄는 방법(False이면 자동실행을 끈다.)  
c.NotebookApp.open_browser = True
2. default를 크롬으로 설정  
c.NotebookApp.browser = 'u'chrome''

### - 구글 클라우드 사이트 접속
https://cloud.google.com/maps-platform/

### - 시작하기
1. 경로 선택
2. 프로젝트 이름 설정
3. 결제

### - API 키 제한 
- 새로운 키를 만들고 키를 제한할 수 있다.

### - API 추가
- Geocoding API(지도API)

###- jupyter notebook에서 cmd명령을 실행하려면 느낌표를 붙인다.
- numpy : 수학통계
- pandas: 파일분석

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (1.17.2)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2019.2)
Requirement already satisfied: six>=1.5 in c:\users\dazzul\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [4]:
import numpy as np
import pandas as pd

In [6]:
criminal_police = pd.read_csv('data/02. crime_in_Seoul.csv', thousands='.', encoding='euc-kr')
criminal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861